html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.img-div {
    margin: 10vw auto 0 auto;
}

img {
    width: auto;
    height: auto;
}

.name, .email{
    font-weight: bold;
    font-style: italic;
}
.about{
    width: 80%;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    text-align: left;
    text-indent: 15px;
    padding: 8px;
}
.about h3{
    text-align: center;
    padding: 0;
}
.about p{
    margin: 3px auto;
}
.Time {
    margin: 10px auto;
}